<footer class="footer__container">
  <nav class="footer__button">
    <a href="./header.html"></a>
  </nav>
  <nav class="footer__nav--pags">
    <ul>
      <li><a class="footer__nav--link" href=""> articles</a></li>
      <li><a class="footer__nav--link" href=""> books</a></li>
      <li><a class="footer__nav--link" href=""> events</a></li>
      <li><a class="footer__nav--link" href=""> reasons</a></li>
      <li><a class="footer__nav--link" href=""> tips</a></li>
    </ul>
  </nav>
    <nav class="footer__nav--social">
    <ul>
      <li><a class="footer__nav--link" href="https://twitter.com/?lang=es">twitter</a></li>
      <li><a class="footer__nav--link" href="https://www.instagram.com/">instagram</a></li>
      <li><a class="footer__nav--link" href="https://mastodon.social/about">mastodon.social</a></li>
    </ul>
  </nav>
  <div class="footer__copy">
    <small>©2021</small>
    <small>we ❤︎ components</small>
  </div>
</footer>
