<footer class="footer__container">
  <nav class="footer__nav--button">
    <a class="footer__button" href="#header"></a>
  </nav>
  <nav class="footer__nav--pags">
    <ul>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank">
          articles</a
        >
      </li>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank">
          books</a
        >
      </li>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank">
          events</a
        >
      </li>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank">
          reasons</a
        >
      </li>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank">
          tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__nav--social">
    <ul>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank"
          >twitter</a
        >
      </li>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank"
          >instagram</a
        >
      </li>
      <li>
        <a class="footer__nav--link" href="https://adalab.es/" target="_blank"
          >mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__copy">
    <small>©2021</small>
    <small>we ❤︎ components</small>
  </div>
</footer>
