<footer class="footer__container">
  <nav class="footer__button">
    <a href="./header.html"></a>
  </nav>
  <nav class="footer__nav1">
    <ul>
      <li><a class="footer__nav1--link" href=""> articles</a></li>
      <li><a class="footer__nav1--link" href=""> books</a></li>
      <li><a class="footer__nav1--link" href=""> events</a></li>
      <li><a class="footer__nav1--link" href=""> reasons</a></li>
      <li><a class="footer__nav1--link" href=""> tips</a></li>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul>
      <li><a class="footer__nav1--link" href="">twitter</a></li>
      <li><a class="footer__nav1--link" href="">instagram</a></li>
      <li><a class="footer__nav1--link" href="">mastodon.social</a></li>
    </ul>
  </nav>
  <div class="footer__copy">
    <small>©2021</small>
    <small>we ❤︎ components</small>
  </div>
</footer>
