<section>
  <h2>3 reasons to purchase</h2>
  <article>
    <h3>ut sed metus</h3>
    <p>Lorem ipsum dolor sit, amet consectetur.</p>
  </article>

  <article>
    <h3>curabitur ac erat</h3>
    <p>
      Voluptatum, aliquam magni earum repellendus odit eaque. Quis, quia culpa!
    </p>
  </article>
  <article>
    <h3>morbi dictum</h3>
    <p>
      maxime aut autem dolor ipsa est et excepturi saepe aliquam adipisci, quod
      omnis dolorem, vitae sint.
    </p>
    <div>more reasons</div>
  </article>
</section>
