<main>
  <section>
    <article class="main__section">
      <small class="main__article--small"> insomnia tips</small>
      <h2 class="main__article1--title">looking through a window</h2>
      <p class="main__article1--text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, qui
        rem! Maxime eligen dignissimos eligendi distinctio, mollitia, iusto blanditiis.
      </p>
      <nav class="main__nav">
        <a class="main__nav--link" href="http://adalab.es/">go</a>
      </nav>
    </article>
  </section>
  <include src="./main_3reasons.html"></include>
</main>
