<section class="main__sectionreasons">
  <h2 class="main__sectionreasons--title" id="mainreasons">3 reasons to purchase</h2>
  <article class="main__sectionreasons--article">
    <h3 class="sectionreasons__article--title">Ut sed metus</h3>
    <p>Lorem ipsum dolor sit, amet consectetur.</p>
  </article>

  <article class="main__sectionreasons--article">
    <h3 class="sectionreasons__article--title" class="title2">
      Curabitur ac erat
    </h3>
    <p class="main__sectionreasons--article">
      Voluptatum, aliquam magni earum.
    </p>
  </article>
  <article class="main__sectionreasons--article">
    <h3 class="sectionreasons__article--title">Morbi dictum</h3>
    <p class="main__sectionreasons--article">
      Maxime aut autem dolor ipsa est et excepturi.
    </p>
  </article>
  <nav class="main__sectionreasons--nav">
    <a class="main__sectionreasons--link" href="http://adalab.es/"
      >more reasons</a
    >
  </nav>
</section>
