<main>
  <section class="looking__container">
    <h3 class="looking__small">Insomnia tips</h3>
    <h2 class="looking__title">Looking through a window</h2>
    <p class="looking__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <nav class="looking__nav">
      <a class="looking__nav--link" title="button__go" href="http://adalab.es/"
        >go</a
      >
    </nav>
  </section>
  <include src="./mainreasons.html"></include>
</main>
