<main>
  <section>
    <article>
      <small> insomnia tips</small>
      <h2>looking through a window</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, qui
        rem! Maxime dignissimos eligendi distinctio, mollitia, iusto blanditiis
        optio maiores harum aperiam temporibus provident consectetur ex libero
        earum ipsum omnis.
      </p>
      go
    </article>
  </section>
  <include src="./main_3reasons.html"></include>
</main>
