$font-title: "RobotoSlab-Bold";
$font-second: "Roboto Regular";
$font-size-title: 24px ;
$font-size-txt: 18px;
$color-white: #ffffff;
$color-blue: #0271bc;
$color-bg: #eff9ff;
$color-txt: #4a4a4a;