$font-title: "Roboto Slab", serif;
$font-second: "Roboto", sans-serif;
$font-size-title: 24px;
$font-size-main: 18px;
$font-size-footer: 16px;
$color-white: #ffffff;
$color-blue: #0271bc;
$color-darkblue: #304268;
$color-bg: #eff9ff;
$color-txt: #4a4a4a;
$color-lightblue: #8ccbea;