
//Fuentes//
$font-title: "Roboto Slab", serif;
$font-second: "Roboto", sans-serif;
$font-size-title: 24px;
$font-size-main: 18px;
$font-size-footer: 16px;

//Colors//
$color-white: #ffffff;
$color-blue: #0271bc;
$color-darkblue: #304268;
$color-bg: #eff9ff;
$color-txt: #4a4a4a;
$color-lightblue: #8ccbea;
$color-border: #f26002;

//@media 768//
$font-size-title2: 26px;
$font-size-main2: 20px;

//@media 1200//
$font-size-title3: 32px;