.looking__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 45px;

  @media all and (min-width: 768px) {
    height: 330px;
    padding-left: 39px;
  }

  @media all and (min-width: 1200px) {
    padding-left: 275px;
  }
}
.looking__small {
  width: 90px;
  font-family: $font-second;
  font-size: 14px;
  color: $color-lightblue;
  text-transform: capitalize;
  text-align: start;
  margin-bottom: 10px;

  @media all and (min-width: 1200px) {
    width: 690px;
    
  }
}
.looking__title {
  width: 290px;
  font-family: $font-title;
  font-size: $font-size-title;
  line-height: 1.25;
  font-weight: bold;
  text-transform: capitalize;

  @media all and (min-width: 768px) {
    width: 690px;
    font-size: $font-size-title2;
  }
  @media all and (min-width: 1200px) {
    font-size: $font-size-title3;
  }
}
.looking__text {
  width: 290px;
  font-family: $font-second;
  font-size: $font-size-main;
  line-height: 1.67;
  margin-top: 15px;
  margin-bottom: 30px;
  color: $color-txt;

  @media all and (min-width: 768px) {
    width: 690px;
    font-size: $font-size-main2;
  }
}
.looking__nav {
  width: 76px;
  height: 45px;
  border: 2px solid $color-border;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: border, 1s;
  animation: flip-scale 2s infinite;
  &:hover {
    border: $color-lightblue solid;
  }
  @keyframes flip-scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }

  @media all and (min-width: 768px) {
    width: 91px;
  }

  @media all and (min-width: 1200px) {
    width: 160px;
  }
}
.looking__nav--link {
  font-family: $font-title;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: $color-border;
  transition: color, 1s;
  &:hover {
    color: $color-lightblue;
  }
}
